/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image{
  width: 100%;
}

.header__link {
  font-family: "Fantasy", cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}


.section__add-task {
  display: flex;
  padding-top: 20px;
}

.section__list {
  margin: 0;
  padding: 0px;
  list-style: none;
}



.task__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.task__btn:hover {
  color: #3a3a3a;
}

/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}



.task__input-text {
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.task__input-text:focus {
  color: #333;
}

/* New Task */


/* Task list */
.section__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.task__input-checkbox {
  margin: 0 10px;
}
.task__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  flex-grow: 1;
}


.task__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task__name_completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input-text {
  display: none;
}

.task__input-text_show {
  display: inline-block;
  width: 224px;
}

.task__name_hide {
  display: none;
}